.sidebar-menu {
  ul.sidebar-main-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      font-size: 1.1rem;
      line-height: 1.4;
      font-weight: 300;
      margin: 0;
      padding: 4px 0 4px 0;
      a {
        color: $primary;
        &:hover {
          color: lighten($primary, 10%);
        }
      }
      a.active {
        color: $secondary;
        &:hover {
          color: lighten($secondary, 10%);
        }
      }

      nav ul {
        margin-left: 20px;

        li {
          font-size: 1rem;
        }
      }
    }
  }
}
