<div id="main-menu" class="main-menu">
  <ul>
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    <li class="menu-item-{{ .Name | lower }}{{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active {{ end }}">
      <a href="{{ .URL }}">
        <span>{{ .Name }}</span>
      </a>
    </li>
    {{end}}
  </ul>
  {{ if .Site.Menus.icon }}
  <ul>
    {{ range sort .Site.Menus.icon }}
    <li class="navbar-icon"><a href="{{ .URL }}"><i class="{{ .Name }}"></i></a></li>
    {{ end }}
  </ul>
  {{ end }}
</div>
