{{ define "title" }}{{ .Title | default .Site.Title }}{{ end}}
{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "meta_tags" }}
<meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_description }}" />
<meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
<meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
<meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
<meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
<meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
<meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
<meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
<meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
{{ end }}

{{ define "main" }}
<div class="strip masthead">
  <div class="container py-6">
    <div class="row align-items-center">
      <div class="col-5 mx-auto col-md-5 order-md-2">
        <img src="/images/conductor.svg" style="width: 50%;" />
      </div>
      <div class="col-md-7 order-md-1 text-center text-md-left pr-md-5">
        <h1 class="title">{{ .Title | default .Site.Title }}</h1>
        <div class="content">
          {{ if .Content }}
          {{ .Content }}
          {{ else }}
          <p style="width: 100%; white-space: pre-wrap;">{{ .Site.Params.homepage_intro }}</p>
          {{ end }}
        </div>
        <a class="button button-primary mb-2" href="{{ .Site.Params.homepage_button_link | relURL }}">
          {{ .Site.Params.homepage_button_text }}
        </a>
      </div>
    </div>
  </div>
</div>

<section class="masthead">
  <div class="row justify-content-center">
    <div class="col-12 text-center mb-3">
      {{with .Site.Params.topics.title}} <h2 class="section-title">{{ . }}</h2> {{ end }}
    </div>
    {{ range sort (where .Site.Pages "Type" "pages") "Params.order" "asc" }}
    <div class="col-lg-4 col-sm-6 mb-4 topic-card">
      <i class="fas {{ .Params.Icon }} mb-2"></i>
      <h3 class="mb-3">{{ .Title }}</h3>
      <p class="mb-0" style="width: 80%;">{{ .Params.Description }}</p>
    </div>
    {{ end }}
  </div>
</section>

<section class="masthead">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center mb-3">
        <p style="width: 80%;font-size: 0.9rem;">Projekt dofinansowany z Funduszy Europejskich w ramach Osi priorytetowej I. BADANIA, ROZWÓJ I KOMERCJALIZACJA WIEDZY Działanie I.2 INWESTYCJE PRZEDSĘBIORSTW W BADANIA I INNOWACJE Poddziałanie I.2.2 PROJEKTY B+R PRZEDSIĘBIORSTW</p>
        <img src="/images/LOGOTYPY_PB_eng.png" style="max-width: 100%"/>
      </div>
    </div>
  </div>
</section>

{{ end }}

{{ define "footer_js" }}
{{ end }}
