{{ $file := .Get "file" }}
{{ $opts := .Get "opts" | string }}
{{ $lang := trim (index (findRE "```(\\S*)" .Inner 1) 0) "`" }}
{{ $code := split (index (findRE "```(.|\n)*?```" .Inner 1) 0) "\n" }}
{{ $code := delimit (first (sub (len $code) 2) (after 1 $code)) "\n" "\n" }}
<figure class="code" id="{{ $file | urlize}}">
  {{ if $file }}
  <figcaption class="filename"><code>{{ $file }}</code></figcaption>
  {{ end }}
  <div class="buttons">
    <button class="fa fa-copy clipboard"></button>
  </div>
  {{ highlight $code $lang $opts }}
</figure>
